h1{
	color:darkred;
	text-align:center;
	font-face:arial;
       <i>
	font size="5"
	font color="blue"
	
  }
 body{background-image:url("http://kody.agency/images/expetro/el-expetro-03-1.jpg");}
 dt,dd,th,td,p,li{color:darkred;}

